<xf:textboxrow name="options[clientId]" value="{$profile.options.clientId}" type="text"
               label="{{ phrase('payco_client_id') }}">

        <xf:explain>
                {{ phrase('payco_client_id_explain') }}
        </xf:explain>
</xf:textboxrow>

<xf:textboxrow name="options[key]" value="{$profile.options.key}" type="text"
               label="{{ phrase('payco_key') }}">

        <xf:explain>
                {{ phrase('payco_key_explain') }}
        </xf:explain>
</xf:textboxrow>

<xf:textboxrow name="options[publicKey]" value="{$profile.options.publicKey}" type="text"
               label="{{ phrase('payco_public_key') }}">

        <xf:explain>
                {{ phrase('payco_public_key_explain') }}
        </xf:explain>
</xf:textboxrow>

<xf:textboxrow name="options[privateKey]" value="{$profile.options.privateKey}" type="text"
        label="{{ phrase('payco_private_key') }}">

        <xf:explain>
                {{ phrase('payco_private_key_explain') }}
        </xf:explain>
</xf:textboxrow>